h1
{
	color: red;
	font-size: 2em;
	font-family: "Times New Roman";
	text-shadow: 2px 2px 4px red;
}
#block_page
{
    background-image: url("fond2.png");
    margin: auto;
    width: 100%;
    font-family: "Times New Roman";
    color: red;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 15px;
}